.dropup{
    box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border: 1px solid #CED4DA;
border-radius: 3px;
}

.dropup-content {
    display: block;
  }